@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    size: 16px;
}
.friendMessage {
}

.friendImageAndText {
    display: flex;
}

.friendImageAndText img {
    height: 48px;
    width: 48px;
}

.friendText {
    background: #F5F7FB;
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;

}

.friendText:after {

}

.friendName {
font-weight: 600 ;
}

.friendMessageText {
    /*background-color: #0066CC;*/

}

.friendTime {
    font-size: 10px;
    font-weight: 600;
    margin-left: 10px;

}
